<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6773a3">  <td>23/01/06 20:27:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BasicTest.loginTest()[pri:0, instance:testNGDemo.BasicTest@26e356f0]">loginTest</td> 
  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>23/01/06 20:27:21</td>   <td>1002</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BasicTest.closeapplication()[pri:0, instance:testNGDemo.BasicTest@26e356f0]">&lt;&lt;closeapplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>23/01/06 20:27:14</td>   <td>-6009</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BasicTest.launchApplication()[pri:0, instance:testNGDemo.BasicTest@26e356f0]">&gt;&gt;launchApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
</table>
